* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

/* Layout */

#area-entrar, #area-cadastrar {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#form-entrar, #form-cadastrar {
    text-align: center;

}

#rodape {
    text-align: center;
    background: #CCC;
    padding: 15px;
    clear: both;
}
#area-logo {
    padding: 10px;
    text-align: right;
    float: 10px;
    background-color: #f7b600;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f7b600;
    padding: 8px;
}

a:hover {
        background-color: white;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #FFF;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    color: #f7b600;
    background: #FFF;
    text-decoration: none;
}